body {
    text-align: center;
  }
  
  #drum-machine {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  #display {
    font-size: 24px;
    padding: 20px;
    background-color: #333;
    color: #fff;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .drum-pad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid #333;
    margin: 10px;
    cursor: pointer;
    font-size: 24px;
  }
  
  .drum-pad:hover {
    background-color: #ccc;
  }
  
  .clip {
    display: none;
  }
  
  .drum-pad:focus {
    outline: none;
  }
  
  